*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

#root{
  height: 100%;
}
.loginForm{
  position: relative;
  height: 100%;
  background: rgb(240, 242, 244);
}
.loginForm form{
  background: white;
  padding:40px 20px;
  border-radius: 4px;
  height: 370px;
  width: 370px;
  position: absolute;
  top:0;
  right:0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.registerForm{
  position: relative;
  height: 100%;
  background: rgb(240, 242, 244);
}
.registerForm form{
  background: white;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top:0;
  right:0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 370px;
  width: 370px;
}
.loginForm h3{
  margin-bottom: 24px;
}
.ant-form-item:last-child{
  margin-bottom: 0;
}

.header-top{
  height: 50px;
  overflow: hidden;
  background: black;
  text-align: center;
}
.header-left{
  height: 100%;
  width: 50%;
  float: left;
  color: white;
}
.header-right{
  height: 100%;
  width: 50%;
  float: left;
  color: white;
}
.aside{
  min-height: 400px;
  height: 100%;
  background: black;
  width: 200px;
}
.aside div{
  width: 100%;
  background: grey;
  color: white;
}
.slider-item{
  margin-bottom: 10px;
}